{% extends "base.html" %}

{% block title %}Cadastro|Login{% endblock title %}

{% block body %}
  {% if messages %}
    {% for message in messages %}
      <div class="alert {{ message.tags }}"> {{ message }}</div>
    {% endfor %}
  {% endif %}

  <form method="POST" enctype="multipart/form-data" action="{% url 'cadastro' %}">
    {% csrf_token %}
    <input name="first_name" type="text" placeholder="Digite seu primeiro nome" />
    <br />
    <input name="last_name" type="text" placeholder="Digite seu sobrenome" />
    <br />
    <input name="email" type="email" placeholder="Digite seu email" />
    <br />
    <input name="password" type="password" placeholder="Digite uma senha" />
    <br />
    <button type="submit">Enviar</button>
    <button type="button" class="toggle-link" onclick="toggleForm()">
      Já tem uma conta? Faça login aqui.
    </button>
  </form>

  <form method="POST" action="{% url 'login_email' %}">
    {% csrf_token %}
    <label class="input-icon" for="password">
      <input type="email" name="email" placeholder="Digite seu email" />
    </label>

    <button type="submit" class="btn-cadastro">Entrar</button>
    <button type="button" class="toggle-link" onclick="toggleForm()">
      Não tem uma conta? Cadastre-se aqui.
    </button>
  </form>
{% endblock body %}

{% block js %}
  <script>
    function toggleForm() {
      const signUpForm = document.getElementById("signUpForm");
      const signInForm = document.getElementById("signInForm");

      signUpForm.classList.toggle("active");
      signInForm.classList.toggle("active");
    };
  </script>
{% endblock js %}
