{% extends "base.html" %}

{% block title %}{% endblock title %}

{% block body %}
  <form method="POST" action="{% url 'administrador' %}">
    {% csrf_token %}
    <input name="first_name" type="text" placeholder="Digite seu primeiro nome" />
    <br />
    <input name="last_name" type="text" placeholder="Digite seu sobrenome" />
    <br />
    <input name="email" type="email" placeholder="Digite seu email" />
    <br />
    <input name="password" type="password" placeholder="Digite uma senha" />
    <br />
    <input name="foto_perfil" type="file" placeholder="Foto de perfil" />
    <button href="{% url 'home' %}" type="submit">Enviar</button>
  </form>
{% endblock body %}
