<!DOCTYPE html>
<html lang="pt-BR">
  <head>

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    </head>

    <body>
        <form method="POST"> {% csrf_token %}
            <input name="first_name" type="text" placeholder="digite seu primeiro nome"><br>
            <input name="last_name" type="text" placeholder="digite seu sobrenome"><br>
            <input name="email" type="email" placeholder="digite seu email"><br>
            <input name="password" type="password" placeholder="digite uma senha"><br>
            <input name="foto_perfil" type="file" placeholder="foto de perfil">
            <a href="{% url 'home' %}" type="submit"> enviar </a>
        </form>
    </body>
</html>