<!DOCTYPE html>
<html lang="pt-BR">
  <head>

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    </head>

    <body>
        <form method="POST">
            <input name="nome_completo" type="text" placeholder="digite um nome"><br>
            <input name="email" type="email" placeholder="digite seu email"><br>
            <input name="password" type="password" placeholder="digite uma senha"><br>
            <input name="cpf" type="text" placeholder="Digite seu CPF" pattern="\d{3}\.\d{3}\.\d{3}-\d{2}" title="Formato: 111.111.111-11" required>
            <a href="{% url 'home' %}" type="submit"> enviar </button>
        </form>
    </body>
</html>