<!DOCTYPE html>
<html lang="pt-BR">
  <head>

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    </head>

    <body>
        <form method="POST">
            <input name="username" type="text" placeholder="digite um nome"><br>
            <input name="email" type="email" placeholder="digite seu email"><br>
            <input name="password" type="password" placeholder="digite uma senha"><br>
            <a href="http://127.0.0.1:8000/futmax/administrador/"> sou administrador </a>
        </form>
    </body>
</html>