{% extends "base.html" %}
{% load static %}

{% block title %}Perfil do Administrador{% endblock title %}

{% block head %}
  <link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock head %}

{% block body %}
<h1 class="logo_empresa"> LOGO DA EMPRESA AQUII </h1>
<div id="carouselExample" class="carousel slide">
  <div class="carousel-inner">
    {% for produto in produtos %}
      <div class="carousel-item active">
        <img src="{{ produto.imagem.url }}" class="imagem" alt="{{ produto.nome }}" />
      </div>
    {% endfor %}
  </div>

  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
{% endblock body %}
