.main {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin-inline: 40px;
}

.imagem {
  position: relative;
  display: flex;
  width: 150px;
  height: 150px;
  margin: 100px;
  
} 

.carousel-inner{
  border: 1px solid black;
  width: 500px;
  height: 400px;
  padding: 75px;
  padding-left: -25px;
  position: relative;
  left: 400px;
  border-radius: 30px;
}

#imagem1{
  background-image: url("/media/imagem/palco1.png");
  background-size: 100px 100px;
  background-repeat: no-repeat;
  margin-top: -80px; 
}


.botao_avancar{
  top: -400px;
  right: -400px;
  padding: 25px;
  width: 10px;
  display: flex;
  position: relative;
  padding-top: 340px;
  border-radius: 30px;
  border: none;
  background-color:transparent;
}

.botao_avancar2{
  display: flex;
  position: relative;
  background-color:transparent;
  top: -797px;
  right: -845px;
  padding: 25px;
  padding-top: 335px;
  width: 10px;
  border-radius: 30px;
  border: none;
}

.desconto{
  display: flex;
  position: relative;
  color: rgb(36, 36, 36);
  font-size: 20px;
  top: 39px;
  left: 16px;
}

.toggle-link{
  color: red;
}



